.home {
  padding: 4%;
}
.series-header {
  padding-bottom: 3%;
  text-align: center;
  display: flex;
  justify-content: center;
}
.serie-name {
  margin-right: 1%;
  margin-left: 1%;
}
.draws {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.HomeCard {
  width: 30%;
  margin: 1.5%;
}
.flex-div {
  display: flex;
  padding: 0.5%;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
a {
  -webkit-transition: color 2s;
  transition: color 0.5s;
  text-decoration: none;
  color: black;
  font-size: 100%;
}
.pluslink,
.pluslink:visited,
.pluslink:active {
  text-decoration: none;
  color: inherit;
}
.pluslink:hover {
  text-decoration: none;
  color: grey;
}
