.home {
	padding: 2%;
}
.series-container {
	text-align: center;
}
.current-serie-name {
	font-size: 3vw;
	font-weight: bold;
	cursor: default;
	text-transform: capitalize;
	color: rgb(63, 61, 73);
	padding-bottom: 1%;
}
.series-header {
	padding-top: 1%;
	padding-bottom: 1%;
	display: flex;
	justify-content: center;
	text-transform: capitalize;
}
.big-separator {
	max-width: 70px;
	margin: 0em auto 0em auto;
	display: block;
	height: 1px;
	border-top: 1px solid #b3b3b3;
}
.series-array-elmt {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2vw;
	cursor: pointer;
}
.vertical-separator {
	height: 70%;
	background-color: #797979;
	width: 2px;
	margin: 10px;
}
.serie-name:hover {
	color: rgba(113, 109, 131, 0.548);
}
.draws {
	display: grid;
	grid-template-columns: repeat(4, 2fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(100px, auto);
}
.HomeCard {
	width: 30%;
	margin: 1.5%;
}
.flex-div {
	display: flex;
	padding: 0.5%;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}
a {
	-webkit-transition: color 2s;
	transition: color 0.5s;
	text-decoration: none;
	color: black;
	font-size: 100%;
}
.pluslink,
.pluslink:visited,
.pluslink:active {
	text-decoration: none;
	color: inherit;
}
.pluslink:hover {
	text-decoration: none;
	color: grey;
}
