.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#flex-container {
  display: flex;
  height: 100%;
}

#sidebar {
  width: 13%;
  background-color: #f0eaea;
  min-width: 75px;
}

#router {
  height: 100%;
}

#main {
  background-color: #e6e6e6;
  width: 87%;
  position: relative;
  flex-wrap: wrap;
}

#main > div {
  flex: 1; /* Distribute space equally among the flex items */
  min-width: 300px; /* But force them to be at least300px wide */
}

#content {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  position: relative;
  flex-wrap: wrap;
}

@media (max-width: 800px) {
  #flex-container {
    flex-direction: column;
  }
  #sidebar {
    display: flex;
    width: 100%;
    height: 15%;
  }
  #main {
    width: 100%;
    height: 85%;
  }
}
